.page {
  font-family: "Roboto", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f6f7;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page__hero {
  background-image: url("../../images/SearchFormBack.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 576px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1024px) {
  .page__hero{
    min-height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .page__hero {
    min-height: auto;
    display: flex;
    flex-direction: column;
  }
}