.about {
  max-width: 1232px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  gap: 64px;
  align-items: flex-start;
  background-color: #f5f6f7;
}

.about__image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.about__content {
  flex: 1;
  max-width: 600px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  color: #1a1b22;
  margin: 0 0 24px;
}

.about__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
}

/* Responsive */
@media screen and (max-width: 1232px) {
  .about {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about__image {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 40px 16px;
  }

  .about__image {
    width: 464px;
    height: 464px;
  }

  .about__title {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 16px;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
  }
}

/* Mobile view - iPhone */
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 32px 16px;
    gap: 16px;
  }

  .about__image {
    width: 272px;
    height: 272px;

    opacity: 1;
    border-radius: 1000px;

    aspect-ratio: 1;
    border-radius: 50%;
  }

  .about__content {
    max-width: 100%;
  }

  .about__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    width: 288px;
    height: 40px;
  }

  .about__description {
    font-size: 16px;
    line-height: 22px;
    width: 288px;
    height: 240px;

    top: 2488px;
    left: 16px;
  }
}
