.header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
}

.header_theme_white {
  background-color: #ffffff;
  box-shadow: 0px -1px 0px 0px #FFFFFF33 inset;
}/* Mobile view */
@media screen and (max-width: 768px) {
  .header {
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  position: relative;
  z-index: 10;
  }

  .header_theme_white {
    background-color: #ffffff;
  }
}